.head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: #00a6fb;
}

.pic-logo {
  grid-column: 1;
  border-radius: 50px;
  height: 70px;
  align-items: left;
  margin: 0.5rem;
}

h2{
font-family: fantasy;
}

.header__title {
  grid-column: 2;
  align-items: center;
}

.username_title {
  display: inline-block;
  grid-column: 3;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.header__title h1 {
  text-align: center;
  align-items: center;
}