*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: lavender;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  background-color: plum;
  margin: 0;
  padding: 1.5rem;
  font-size: 2rem;
}

h2 {
  padding: 1rem;
  margin: 0;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: darkmagenta;
  font-family: monospace;
  color: white;
}


.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  padding: 1.2rem;
  grid-gap: .8rem;
  background: #fcc5e4;

}

.form>label {
  grid-column: 2;
  display: block;
  grid-row: auto;
  text-align: center;
  font-family: cursive;
  font-size: 2rem;
}

.form>input,
.form>button {
  grid-column: 2;
  grid-row: auto;
  border: none;
  padding: 1rem;
}


form.myForm {
  display: contents;
  padding: 0.5rem;
}

input.guessInput {
  padding: 1rem;
  margin-bottom: .5rem;
}

label.guesslabel {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;

}

p {
  justify-content: center;
}

.myForm>button,
.form>button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: .5rem;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;

  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 1.9rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1rem;
}

.myForm>button :focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}



.myForm>button :active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}